# Secret files (Sensitive)
.env

# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Environment
env/
venv/
ENV/

# OS metadata
.DS_Store
Thumbs.db

# Instructor Class Materials
class_materials/